body {
	background-image: url("../images/star-wars-scene.jpg");
}

header {
	float: none;
	display: block;
}

h1 {
	color: gold;
	border: 1px white;
	text-shadow: 2px 2px #888;
	float: right;
	right: 5%;
	font-family: "Arial", sans-serif;
}

img {
	position: relative;
	width: 250px;
	height: auto;
	float: left;
}

.yourCharacter,
.enemiesAvail,
.defender {
	height: auto;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	clear: both;
}