#background-image {
	position: absolute;
	background-image: url("../images/star-wars-scene.jpg");
	top: 0;
	left: 0;
	width: 1916px;
	height: 808px;
	opacity: 0.6;
	z-index: 0;
}

.container {
	position: relative;
	z-index: 1;
	font-family: 'Raleway', sans-serif;
}

header {
	float: right;
}

h1 {
	color: gold;
	border: 1px white;
	text-shadow: 2px 2px #000;
	float: right;
	right: 5%;
}

img {
	position: relative;
	width: 200px;
	height: auto;
	float: left;
}

.yourCharacter,
.enemiesAvail,
.defender {
	height: auto;
	/*border-width: 2px;
	border-style: solid;
	border-color: black;*/
	clear: both;
}

h2 {
	color: gold;
	border: 1px white;
	text-shadow: 2px 2px #000;
}